*   {
    margin: 0;
}
/* Mario Custom Style */
header  {
    background: url("pictures/bgk-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    display: flex;
}

.navigation-bar {
    width: 70%;
    margin: auto;
}

.navigation-bar > a {
    float: left;
}

#logo {
    width: auto;
    height: auto;
    max-width: 20%;
    padding-top: 5px;
}

.navigation-bar > ul {
    float: right;
}

.navigation-bar > ul > li {
    list-style: none;
    float: left;
    padding: 25px 10px 0px 10px;
}

.navigation-bar > ul > li > a{
    text-decoration: none;
    color: white;
}

.navigation-bar > ul > li > a:hover {
    color: aquamarine;
}

.navigation-bar > ul > li > a:active {
    color: aquamarine;
}

.header-title-container   {
    text-align: center;
    margin: auto;
    width: 50%;
    position: relative;
    margin-top: 20%;
}

.header-title-container > a    {
    color: aquamarine;
    text-decoration: none;
    border: 1px solid aquamarine;
    padding: 10px
}

.header-title-container > p {
    line-height: 25px;
    margin-bottom: 50px;
}

#underline   {
    border: 1px solid aquamarine;
    margin: auto;
    width: 5%;
    margin-top: 15px;
    margin-bottom: 20px;
    

}